<?xml version="1.0"?>
<launch>

  <!-- Gazebo configurations-->
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="use_rviz" default="false"/>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find sciurus17_description)/robots/sciurus17_with_vehicle.urdf.xacro' use_gazebo_simulation:=true"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <include file="$(find sciurus17_control)/launch/sciurus17_fake_control.launch"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sciurus17_gazebo)/worlds/empty.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!--<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf1" args="-urdf -model $(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description"/>-->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model sciurus17_with_vehicle" />

  <node name="initpose_sciurus17" pkg="sciurus17_gazebo" type="initpose_sciurus17.py"/>

  <!-- TODO MoveIt not happy yet robot_state_publisher might not be needed once planning works
  <include file="$(find sciurus17_moveit_config)/launch/sciurus17_planning.launch">
    <arg name="use_gazebo" value="true"/>
    <arg name="load_robot_description" value="false"/>
    <arg name="use_rviz" value="$(arg use_rviz)"/>
  </include>-->

</launch>
