<?xml version="1.0"?>
<launch>
  <!-- Robot Configuration-->
  <arg name="use_vehicle" default="true"/>

  <!-- Gazebo configurations-->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="gazebo_debug" default="false"/>
  <arg name="moveit_debug" default="false"/>

  <arg name="use_rviz" default="true"/>
  <arg name="use_effort_right_arm" default="false"/>
  <arg name="use_effort_left_wrist" default="false"/>

  <!-- Gazebo is publishing the JointStates of the vehicle, this prevents the JointStatePublisher launched in the MoveIt stack from spamming contradicting values-->
  <rosparam param="/exclude_joints">[wheel_left_joint,wheel_right_joint,caster_body_right_joint,caster_wheel_right_joint,caster_body_left_joint,caster_wheel_left_joint]</rosparam>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find sciurus17_description)/robots/sciurus17_with_vehicle.urdf.xacro' use_gazebo_simulation:=true"/>

  <include file="$(find sciurus17_control)/launch/sciurus17_fake_control.launch">
    <arg name="use_effort_right_arm" value="$(arg use_effort_right_arm)"/>
    <arg name="use_effort_left_wrist" value="$(arg use_effort_left_wrist)"/>
  </include>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find sciurus17_gazebo)/worlds/empty.world"/>
    <arg name="debug" value="$(arg gazebo_debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!--<node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf1" args="-urdf -model $(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description"/>-->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model sciurus17" />

  <node name="initpose_sciurus17" pkg="sciurus17_gazebo" type="initpose_sciurus17.py"/>

  <include file="$(find sciurus17_moveit_config)/launch/sciurus17_planning.launch">
    <arg name="use_gazebo" value="true"/>
    <arg name="load_robot_description" value="false"/>
    <arg name="use_rviz" value="$(arg use_rviz)"/>
    <arg name="use_vehicle" value="$(arg use_vehicle)"/>
    <arg name="debug" value="$(arg moveit_debug)" />
  </include>

</launch>
