<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="model" default="sciurus_vehicle"/>
  <arg name="map_file" default="$(find sciurus17_navigation)/maps/map_wg_office.yaml"/>
  <arg name="use_rviz" default="false"/>

  <!-- LaserScan Merger-->
  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
    <param name="destination_frame" value="base_footprint"/>
    <param name="scan_destination_topic" value="/scan"/>
    <param name="laserscan_topics" value ="/base_scan_front /base_scan_back" />
    
    <param name="angle_min" value="-3.1415"/>
    <param name="angle_max" value="3.1415"/>
    <param name="range_min" value="0.06"/>
    <param name="range_max" value="6.0"/>
  </node>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find sciurus17_navigation)/launch/amcl.launch"/>

  <!-- move_base-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find sciurus17_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find sciurus17_navigation)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find sciurus17_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find sciurus17_navigation)/param/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find sciurus17_navigation)/param/teb_local_planner_params.yaml" command="load" />

    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="5.0" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />
  </node>
  
  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" required="false" args="-d $(find sciurus17_navigation)/rviz/sciurus_vehicle_navigation.rviz" if="$(arg use_rviz)"/>
</launch>
