<launch>
  <!-- Arguments -->
  <arg name="model" default="sciurus_vehicle"/>
  <arg name="map_file" default="$(find sciurus17_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>

  <!-- Turtlebot3
  <include file="$(find sciurus_vehicle_bringup)/launch/sciurus_vehicle_sim.launch">
  </include>-->

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  <!--node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <remap from="sciurus_vehicle/map" to="map"/>
  </node-->

  <!-- AMCL -->
  <include file="$(find sciurus17_navigation)/launch/amcl.launch"/>

  <!-- move_base-->
  <include file="$(find sciurus17_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
  </include>
  <!--/group-->

  <!-- rviz -->
  <!--group if="$(arg open_rviz)"-->
  <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find sciurus17_navigation)/rviz/sciurus_vehicle_navigation.rviz">
    <!--<remap from="/move_base_simple/goal" to="/sciurus_vehicle/move_base_simple/goal"/>
    <remap from="/initialpose" to="/sciurus_vehicle/initialpose"/>
    <remap from="/clicked_point" to="/sciurus_vehicle/clicked_point"/>-->
  </node>

</launch>
